<div class="jumbotron">
  <div class="container">
    <div class="call-to-action">
      <div class="hero-text">
        The App

        <p>A sample application for interview purposes.</p>
      </div>
      <%= link_to "Sign Up", "#", class: "btn btn-default btn-lg" %>
    </div>
    
    <div class="jumbotron-footer">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
  </div>
</div>