<div id="footer">
  <div class="container">
    <div class="row copyright">
      <div class="col-xs-12">
        <%= link_to "Privacy", "#" %>
        &nbsp;|&nbsp;
        <%= link_to "Terms", "#" %>
      </div>
    </div>
  </div>
</div>